<label>GESTION CARGOS</label>
<br>

<form  method="post" role="form" name="formulario" >
    <div class="form-group">
        <label>
            Nombre
        </label>
        <input  type="text" class="form-control"
               placeholder="Nombre " ng-model="cargo.nombre" required>
    </div> 
    <div class="form-group">
        <label >
            Descripcion:
        </label>
        <textarea ng-model="cargo.descripcion" placeholder="Descripcion" required></textarea>
    </div>
    <div ng-init="listarProyectos()" class="form-group">
        <label>
            Proyecto
        </label>
        
        <select  ng-model="cargo.proyecto_id" data-ng-options="p.id as p.nombre for p in listadoProyectos" required></select>
    </div> 
    
    <div  class="form-group">
        <label>
            Horario
        </label>
        
        <select  ng-model="cargo.horario" data-ng-options="d.opcion as d.opcion for d in dias" required></select>
    </div> 
    
    
    
    <div  class="form-group">
        <label>
            Salario
        </label>
        
        <input step="any" type="number" placeholder="salario" ng-model="cargo.salario" required>
    </div> 
    
    
    
    

    
    <button class="btn btn-primary" type="submit" ng-click="create(formulario)" >
        Agregar
    </button>
    <button class="btn btn-primary" type="button" ng-click="modificarProduccion(formulario)">
        Modificar
    </button>
</form>
